.clients {
  max-width: 320px;
  padding: 16px 0;
  margin: 0 auto;

  @media (min-width: 375px) {
    max-width: 375px;
  }
}

.clients__line {
  width: 280px;
  border-top: 1px solid $neutral-200;

  @media (min-width: 375px) {
    width: 335px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 64px;
  row-gap: 32px;
  padding: 25px 0;

  @media (min-width: 375px) {
    padding-left: 31px;
    padding-right: 31px;
  }
}
