.footer {
  max-width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  background-color: $black;

  @media (min-width: 768px) {
    padding: 64px 0;
  }

  @media (min-width: 1440px) {
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    margin-bottom: 24px;
  }

  &__box {
    display: flex;
    gap: 24px;
    margin-bottom: 12px;
  }

  &__first-link {
    color: $white;
    transition: color 0.3s linear;
  }

  &__first-link:hover,
  &__first-link:focus {
    color: $primary-600;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    column-gap: 24px;
    row-gap: 12px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      width: 423px;
    }
  }

  &__link {
    color: $white;
    transition: color 0.3s linear;
  }

  &__link:hover,
  &__link:focus {
    color: $primary-600;
  }

  &__text {
    font-size: 14px;
    line-height: 1.42857;
    color: $neutral-300;
  }

  &__store-box {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 1440px) {
      margin-right: 41px;
    }
  }

  &__links-title {
    margin-bottom: 0;
    color: $neutral-300;
  }
}
