.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
}

.nav {
  display: none;

  @media (min-width: 1440px) {
    display: block;
  }
}

.menu__list {
  color: $neutral-900;

  @media (min-width: 1440px) {
    display: flex;
    gap: 16px;
  }
}

.menu__link {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.42857;
  transition: color 0.3s linear;
}

.menu__link:hover,
.menu__link:focus {
  color: $primary-600;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 3px;
  right: 0;
  background: $primary-600;
  transition: width 0.3s ease;
  -webkit-transition: width 0.6s ease;
}

.menu__link:hover::after,
.menu__link:focus::after {
  width: 100%;
  left: 0;
}

.header__store {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
