.projects {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 48px;
  background-color: $secondary-600;

  @media (min-width: 768px) {
    padding-top: 80px;
  }

  @media (min-width: 1440px) {
    padding-top: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: 768px) {
      gap: 48px;
    }

    @media (min-width: 1440px) {
      flex-direction: row;
      gap: 32px;
    }
  }

  @media (min-width: 1440px) {
    &__title-box {
      padding: 110px 0;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    color: $neutral-900;
    margin-bottom: 48px;

    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 1.55556;
      letter-spacing: 0.7px;
    }

    @media (min-width: 1440px) {
      letter-spacing: 0.8px;
    }
  }

  &__links-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55556;
    color: $neutral-900;
    margin-bottom: 8px;
  }

  &__links-box {
    display: flex;
    gap: 12px;
  }

  &__image-box {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 128px;
    }

    @media (min-width: 1440px) {
      gap: 32px;
    }
  }

  &__bg-first {
    position: relative;
    width: 231px;
    height: 385px;
    background-image: url("../images/projects/projects-bg-1.webp");
    background-repeat: no-repeat;
    margin: 0 auto;
  
    @media (min-width: 768px) {
      margin: 0 0 0 48px;
    }
  }

  &__phone-img1 {
    position: absolute;
    width: 202px;
    top: 0;
    left: 15px;
    border-radius: 0 0 15px 15px;
    z-index: 0;
  }

  &__bg-second {
    position: relative;
    width: 232px;
    height: 382px;
    background-image: url("../images/projects/projects-bg-2.webp");
    background-repeat: no-repeat;
    margin: 0 auto;
  
    @media (min-width: 768px) {
      margin: 174px 48px 0 0;
    }
  }

  &__phone-img2 {
    position: absolute;
    width: 202px;
    top: 14px;
    left: 15px;
    border-radius: 15px 15px  0 0 ;
    z-index: 0;
  }
}







