.projects {
  max-width: 375px;
  margin: 0 auto;
  padding-top: 48px;
  background-color: $secondary-600;

  @media (min-width: 768px) {
    max-width: 768px;
    padding-top: 80px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    padding-top: 0;
  }
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: 768px) {
    gap: 48px;
  }
}

.projects__title {
  margin-bottom: 8px;
}

.projects__description {
  color: $neutral-900;
  margin-bottom: 48px;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.7px;
  }
}

.projects__links-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55556;
  color: $neutral-900;
  margin-bottom: 8px;
}

.projects__links-box {
  display: flex;
  gap: 12px;
}

.projects__image-box {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 128px;
  }
}

.projects__img {
  margin: 0 auto;
  width: 280px;
  height: 396px;

  @media (min-width: 768px) {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .projects__img:nth-child(2) {
    margin-top: 139px;
  }
}