.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33333;
  color: $neutral-900;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: -0.03em;
  }

  @media (min-width: 1440px) {
    font-size: 48px;
  }
}
